@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  background-color: #111311;
  font-family: "Nunito", sans-serif;
  color: #fefffe;
}

p,
h2 {
  color: #fefffe;
}

.user-handle {
  color: #979897;
}


 /* POSTS */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-container {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    border-left: 1px solid #2b2e2b;
    border-right: 1px solid #2b2e2b;
    min-height: 100svh;
}

.user-id {
    display: flex;
    gap: 0.5em;
}

.user-icon {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 9999px;
    flex-shrink: 0;
    margin-right: 0.5em;
}

.single-post {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #2b2e2b;
    padding: 1em 1em;
}

.text-side > p {
    margin-top: 0.2em;
    line-height: 25px;
}

.user-id > a {
  color: #fefffe;
  font-weight: bold;
  text-decoration: none;
}

.user-id > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.interactions {
  display: flex;
  gap: 2em;
  margin-top: .3em;
}

.interactions img {
  width: 18px;
}

/* USER */

header {
  position: relative;
  background-image: url("/img/banner.webp");
  height: 170px;
}

#user-icon-header {
  position: absolute;
  width: 140px;
  border-radius: 9999px;
  top: 6em;
  left: 2em;
  border: 5px solid #1C821F;
}

.user-info {
  margin-top: 6em;
  margin-left: 2em;
}

.user-statistics {
  list-style: none;
  display: flex;
  gap: 1em;
  margin-top: .5em;
}

.user-statistics span {
  color: #1ED760;
  font-weight: bold;
}

#user-bio {
  font-style: italic;
  margin-top: .5em;
}

.user-nav {
  display: flex;
  list-style: none;
  margin-top: 1em;
  text-align: center;
}

.user-nav li {
  width: 100%;
  padding: .5em;
  cursor: pointer;
}
.user-nav li:nth-child(1) {
  border-bottom: 3px solid #1ED760;
  width: 100%;
}

.home-page-btn {
  position: fixed;
  top: 10px;
  left: 1em;
  color: #fefffe;
  text-decoration: none;
  font-weight: bold;
  background-color: #1C821F;
  padding: 0.5em 2em;
  border-radius: 9999px;
}