@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --primary-color: #1ed760;
  --secondary-color: #1c821f;
  --background: #111311;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
  /* border: 1px solid red !important; */
}

body {
  background-color: var(--background);
  font-family: "Nunito", sans-serif;
  color: #fefffe;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

p,
h2 {
  color: #fefffe;
}

.user-handle {
  color: #979897;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* POSTS */

main {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0 5em;
}

.posts-container {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  border-left: 1px solid #2b2e2b;
  border-right: 1px solid #2b2e2b;
  min-height: 100svh;
  margin: 0 2em;
  width: 100%;
}

.db-posts {
  display: flex;
  flex-direction: column-reverse;
}

.single-post {
  position: relative;
  display: flex;
  border-bottom: 1px solid #2b2e2b;
  padding: 1em 1em;
  max-width: 100%;
  cursor: pointer;
}

.single-post:hover {
  background-color: #0d0f0d;
}

.text-side > p {
  margin-top: 0.2em;
  line-height: 25px;
}

.user-id {
  display: flex;
  gap: 0.5em;
}

.user-icon {
  width: 50px;
  height: 50px;
  background-color: var(--background);
  border-radius: 9999px;
  flex-shrink: 0;
  margin-right: 0.5em;
}

.trash-icon {
  position: absolute;
  top: 12px;
  right: 8px;
  width: 18px;
  cursor: pointer;
}

.user-id > a {
  color: #fefffe;
  font-weight: bold;
  text-decoration: none;
}

.user-id > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.interactions {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 0.5em;
}

.interactions div,
.interactions-single-post div {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 0.85rem;
  gap: 0 0.4em;
}

.interaction-icon {
  width: 18px;
  cursor: pointer;
} 

.interactions-single-post {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
  padding: 0 2em;
}

/* FORM */

form {
  padding: 1em 0 0;
  text-align: end;
  border-bottom: 1px solid #2b2e2b;
}

form textarea {
  background: transparent;
  padding: 1em;
  border-radius: 0.5em;
  border: 1px solid #2b2e2b;
  resize: none;
  outline: none;
  color: #fefffe;
  width: 100%;
  margin: 0 0.5em;
}

form button {
  background: transparent;
  color: #fefffe;
  border: 1px solid var(--secondary-color);
  padding: 0.3em 1.5em;
  cursor: pointer;
  border-radius: 1em;
  margin: 1em 2em;
}

form button:hover {
  background: #2b2e2b;
}

.icon-textarea {
  display: flex;
  justify-content: center;
}

.icon-textarea a {
  align-self: flex-start;
  display: block;
}

.user-icon-form {
  width: 50px;
  height: 50px;
  background-color: var(--background);
  border-radius: 9999px;
  flex-shrink: 0;
  margin-left: 1em;
}

.user-icon:hover {
  filter: brightness(0.85);
}

/* USER */

header {
  position: relative;
  background-image: url("/img/banner.webp");
  height: 170px;
}

#user-icon-header {
  position: absolute;
  width: 140px;
  border-radius: 9999px;
  top: 6em;
  left: 2em;
  border: 5px solid var(--background);
}

.user-info {
  margin-top: 6em;
  margin-left: 2em;
}

.user-statistics {
  list-style: none;
  display: flex;
  gap: 1em;
  margin-top: 0.5em;
}

.user-statistics span {
  color: var(--primary-color);
  font-weight: bold;
}

#user-bio {
  font-style: italic;
  margin-top: 0.5em;
}

.user-nav {
  display: flex;
  list-style: none;
  margin-top: 1em;
  text-align: center;
}

.user-nav li {
  width: 100%;
  padding: 0.5em;
  cursor: pointer;
}
.user-nav li:nth-child(1) {
  border-bottom: 3px solid var(--primary-color);
  width: 100%;
}

.home-page-btn {
  position: fixed;
  top: 10px;
  left: 1em;
  color: #fefffe;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--secondary-color);
  padding: 0.5em 2em;
  border-radius: 9999px;
}

/* LEFT MENU */

.left-menu {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

#litter-logo:nth-child(1) img {
  width: 150px;
  margin-top: 0.5em;
}

.left-menu li {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.left-menu a {
  width: 100%;
  padding: 0.5em;
}

.left-menu img,
.left-menu span {
  vertical-align: middle;
}

.left-menu a:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10em;
}

/* TRENDS */

.trends {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 1em 2em 1em 1em;
  border-radius: 1em;
}

.trends li {
  font-weight: bold;
  position: relative;
}

.trends li::before {
  content: "Assunto do momento";
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.8em;
  position: absolute;
  top: -18px;
  left: 0;
}

#trends-title::before {
  display: none;
}

#trends-title {
  font-size: 1.4rem;
  color: #1ed760;
}

.post-back {
  display: flex;
  align-items: center;
  margin: 1em 0 1em 1em;
  font-weight: bold;
  font-size: 1.2rem;
  gap: 0 1.5em;
}

.post-back img {
  display: block;
}

@media (max-width: 1000px) {
  .left-menu,
  .trends {
    display: none;
  }

  main {
    padding: 0;
  }

  .posts-container {
    margin: 0;
  }
}
