<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Litter</title>
    <link rel="stylesheet" th:href="@{css/index.css}" />
    <script th:src="@{js/index.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <a th:href="@{/}" class="home-page-btn">Página inicial</a>
    <main>
      <div class="posts-container">
        <form action="#" th:action="@{/}" method="post" th:object="${post}">
          <div class="icon-textarea">
            <img th:src="@{img/icon.jpg}" class="user-icon-form" alt="" />
            <textarea
              th:field="*{content}"
              placeholder="O que você está planejando hoje?"
            ></textarea>
          </div>
          <button>Postar</button>
        </form>
        <div class="db-posts">
          <div class="single-post" th:each="post : ${posts}">
            <img th:src="@{img/icon.jpg}" class="user-icon" alt="" />
            <div class="text-side">
              <div class="user-id">
                <a th:href="@{/user}">Doglas</a>
                <span class="user-handle">@littlecat</span>
              </div>
              <p th:text="${post.content}"></p>
              <div class="interactions">
                <img th:src="@{img/icons/star.svg}" class="interaction-icon" />
                <img
                  th:src="@{img/icons/repost.svg}"
                  class="interaction-icon"
                />
                <img
                  th:src="@{img/icons/comment.svg}"
                  class="interaction-icon"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="single-post">
          <img th:src="@{img/icon-2.jpg}" class="user-icon" alt="" />
          <div class="text-side">
            <div class="user-id">
              <a>Oliiver</a>
              <span class="user-handle">@xxoliverxx</span>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
              sit quis? Est totam illum temporibus consequuntur accusamus,
              repellendus amet commodi.
            </p>
            <div class="interactions">
              <img th:src="@{img/icons/star.svg}" class="interaction-icon" />
              <img th:src="@{img/icons/repost.svg}" class="interaction-icon" />
              <img th:src="@{img/icons/comment.svg}" class="interaction-icon" />
            </div>
          </div>
        </div>
        <div class="single-post">
          <img th:src="@{img/icon-3.jpg}" class="user-icon" alt="" />
          <div class="text-side">
            <div class="user-id">
              <a>Billiie</a>
              <span class="user-handle">@thebill</span>
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis
              ratione doloribus autem accusantium aspernatur eveniet?
            </p>
            <div class="interactions">
              <img th:src="@{img/icons/star.svg}" class="interaction-icon" />
              <img th:src="@{img/icons/repost.svg}" class="interaction-icon" />
              <img th:src="@{img/icons/comment.svg}" class="interaction-icon" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
