<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <title>Cadastrar</title>
  </head>
  <body>
    <main>
      <form th:action="@{/signup}" method="post" th:object="${user}">
        <input type="file" th:field="*{picture}" name="file" accept="image/*" />
        <input type="text" th:field="*{username}" placeholder="Seu nome (Ex. John Doe)" />
        <input type="text" th:field="*{handle}" placeholder="Nickname (Ex. johndoe)" />
        <input type="password" th:field="*{password}" placeholder="Senha" />
        <!-- <input type="text" th:field="*{password}" placeholder="Confirmar senha" /> -->
        <button>Cadastrar</button>
      </form>
    </main>
  </body>
</html>
