<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Litter</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
    <script th:src="@{/js/index.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <main>
      <ul class="left-menu">
        <li id="litter-logo">
          <a th:href="@{/}">
            <img th:src="@{/img/litter-logo.png}" />
          </a>
        </li>
        <li>
          <a th:href="@{/}">
            <img th:src="@{/img/icons/home.svg}" />
            <span>Página inicial</span>
          </a>
        </li>
        <li>
          <a th:href="@{'/' + ${user.handle}}">
            <img th:src="@{/img/icons/user.svg}" />
            <span>Perfil</span>
          </a>
        </li>
      </ul>
      <div class="posts-container">
        <header>
          <img th:src="${user.picture}" id="user-icon-header" alt="" />
        </header>
        <div class="user-info">
          <div class="user-id">
            <a th:text="${user.username}"></a>
            <span class="user-handle" th:text="'@'+${user.handle}"></span>
          </div>
          <ul class="user-statistics">
            <li><span>420</span> seguidores</li>
            <li><span>67</span> seguindo</li>
            <li><span>2</span> posts</li>
          </ul>
          <p id="user-bio">I'm just a cat</p>
        </div>
        <ul class="user-nav">
          <li>Posts</li>
          <li>Mídia</li>
          <li>Curtidas</li>
        </ul>
        <div
          class="single-post"
          th:each="user_post : ${user_posts}"
          th:onclick='|window.location.href="@{/post/{uuid}(uuid=${user_post.uuid})}"|'
        >
          <a th:href="@{'/' + ${user_post.handle}}">
            <img th:src="${user_post.picture}" class="user-icon" alt="" />
          </a>
          <div class="text-side">
            <div class="user-id">
              <a
                th:href="@{'/' + ${user_post.handle}}"
                th:text="${user_post.username}"
              ></a>
              <span
                class="user-handle"
                th:text="'@'+${user_post.handle}"
              ></span>
            </div>
            <a th:href="@{/delete/{uuid}(uuid=${user_post.uuid})}">
              <img th:src="@{/img/icons/trash.svg}" class="trash-icon" />
            </a>
            <p th:text="${user_post.content}"></p>
            <div class="interactions">
              <div class="">
                <img th:src="@{/img/icons/star.svg}" class="interaction-icon" />
                <span>0</span>
              </div>
              <div class="">
                <img
                  th:src="@{/img/icons/repost.svg}"
                  class="interaction-icon"
                />
                <span>0</span>
              </div>
              <div>
                <img
                  th:src="@{/img/icons/comment.svg}"
                  class="interaction-icon"
                />
                <span th:text="${user_post.reply_count}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="trends">
        <li id="trends-title">O que está acontecendo</li>
        <li>#CulpaDoHumano</li>
        <li>PASSEIO AGORA</li>
        <li>#PETISCO_JÁ</li>
        <li>#DormirNoTeclado</li>
        <li>Veterinário não</li>
      </ul>
    </main>
  </body>
</html>
